body{
    background-color: bisque;
    font-family: 'Lato', sans-serif;
    color: darkgoldenrod;
}

h1{
    padding: 80px;
    /* background-image: url(../img/burgerbackground.png);  */
    background-color: brown;
    color: lightsalmon;
    text-align: left;

}

